$colorBlue: #257eff;
$colorWhite: #fff;
$colorDark: #414141;
$colorBlack: #000;
$colorLightBlue: #689dfd;
$colorDarkBlue: #3d5781;
$colorGrey: #8898b2;
$colorDarkGrey: #707070;
$colorDarkGreySecondary: #939dac;
$colorLightGrey: #f7f7f7;
$colorText: #4b4a61;
$colorError: #f95959;
$colorGreen: #4ba34b;
$colorParagraph: #5e5e5e;

$iconGrey: #bfcbd6;

$transitionPrimary: 0.3s all ease;
$borderRadiusPrimary: 4px;
$offset: 16px;

$fontM: 'GraphikMedium';
$fontB: 'GraphikBold';
$fontR: 'GraphikRegular';
